# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.csproj
spacejunk/Library/metadata/00/0000000000000000c000000000000000
spacejunk/Library/metadata/00/0000000000000000b000000000000000
*.mdb
*.log
*.stamp
spacejunk/Library/assetDatabase3
*.dwlt
spacejunk/Library/InspectorExpandedItems.asset
*.mdb
spacejunk/Library/metadata/8a/8a6d6b4310ed779408864b271cefc04e
spacejunk/Library/metadata/00/00000000000000004000000000000000
spacejunk/Library/metadata/00/00000000000000002000000000000000
spacejunk/Library/InspectorExpandedItems.asset
